[package]
edition = "2021"
version = "0.1.1"
name = "gear_friend_contract"
readme = "./README.md"
license = "MIT OR Apache-2.0"

[dependencies]
kee-bee-io = { path = "kee_bee_io" }
gmeta = { git = "https://github.com/gear-tech/gear", tag = "v0.3.3" }
gstd = { git = "https://github.com/gear-tech/gear.git", features = ["debug"], tag = "v1.0.0" }


[build-dependencies]
gear-wasm-builder = { git = "https://github.com/gear-tech/gear.git", tag = "v1.0.0" }

[dev-dependencies]
gtest = { git = "https://github.com/gear-tech/gear.git", tag = "v1.0.0" }
